.button {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.164);
}

