.App {
  text-align: center;
}

* {
  font-family: 'Kosugi Maru', sans-serif;
}


#root{
  margin:0;
  padding:0;
  top:0;
  bottom: 0;
  left: 0;
  right:  0;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.frame{
  overflow: hidden;
}

html,body{
  height: 100%;
  width: 100%;
}

*{
  margin: 0 auto;
  padding: 0 auto;
  top:unset;
  bottom: unset;
  left: unset;
  right:  unset;
  // text-align: center;
  // vertical-align: middle;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
